$color-dark: #000000;
$color-light: #f2f8ff;
$color-btn: #9a9a9a;

$font-text: 'Roboto', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$transition: all 0.3s;
$radius: 4px;

$base-size: 12px;
