* {
	box-sizing: border-box;
}

body {
	font-family: $font-text;
	font-size: $base-size;
	background: $color-light;
	color: $color-dark;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	font-size: 1rem;
	color: #637892;
	padding: 0 1rem;
}
